# 1 - Connect to Azure ML Workspace

In [2]:
# Import required libraries
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential

# Enter details of your AML workspace
subscription_id = "3b57d2fe-08b1-4fe9-b535-f5c4387b9a66"
resource_group = "azureml-rg"
workspace = "azureml-ws21"

# Create handle to workspace
ml_client = MLClient(DefaultAzureCredential(), subscription_id, resource_group, workspace)
print(ml_client)

MLClient(credential=<azure.identity._credentials.default.DefaultAzureCredential object at 0x7fa456cb3460>,
         subscription_id=3b57d2fe-08b1-4fe9-b535-f5c4387b9a66,
         resource_group_name=azureml-rg,
         workspace_name=azureml-ws21)

# 2 - Create data asset

In [3]:
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes

my_path = "./data/default_of_credit_card_clients.csv"

v1 = "initial"

my_data = Data(
    name="creadit-card",
    version=v1,
    description="credit card data",
    path=my_path,
    type=AssetTypes.URI_FILE
)

ml_client.data.create_or_update(my_data)

Uploading default_of_credit_card_clients.csv (< 1 MB): 100%|██████████| 2.90M/2.90M [00:00<00:00, 14.4MB/s]

Data({'skip_validation': False, 'mltable_schema_url': None, 'referenced_uris': None, 'type': 'uri_file', 'is_anonymous': False, 'auto_increment_version': False, 'auto_delete_setting': None, 'name': 'creadit-card', 'description': 'credit card data', 'tags': {}, 'properties': {}, 'print_as_yaml': True, 'id': '/subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourceGroups/azureml-rg/providers/Microsoft.MachineLearningServices/workspaces/azureml-ws21/data/creadit-card/versions/initial', 'Resource__source_path': None, 'base_path': '/mnt/batch/tasks/shared/LS_root/mounts/clusters/compute-instance01/code/Users/vijaygadhave199', 'creation_context': <azure.ai.ml.entities._system_data.SystemData object at 0x7fa43f31b0a0>, 'serialize': <msrest.serialization.Serializer object at 0x7fa43fa26aa0>, 'version': 'initial', 'latest_version': None, 'path': 'azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-rg/workspaces/azureml-ws21/datastores/workspaceblobstore/paths/LocalUpload/4b1dfc4d12429b46389cabdf25b886a2/default_of_credit_card_clients.csv', 'datastore': None})

# 3 - Access data in notebook

In [4]:
import pandas as pd
df = pd.read_csv("azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-rg/workspaces/azureml-ws21/datastores/datastore_01/paths/data/default_of_credit_card_clients.csv")
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [5]:
import pandas as pd

# handle to data asset and print URI
data_asset = ml_client.data.get(name="creadit-card", version=v1)
print(f"Data asset URI: {data_asset.path}")

Data asset URI: azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-rg/workspaces/azureml-ws21/datastores/workspaceblobstore/paths/LocalUpload/4b1dfc4d12429b46389cabdf25b886a2/default_of_credit_card_clients.csv

In [6]:
df = pd.read_csv(data_asset.path)
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

# 3 - Create a new version of the data asset

In [7]:
# read data again
df = pd.read_csv(data_asset.path, header=1)

# rename column
df.rename(columns={"default payment next month": "default"}, inplace=True)

# Remove ID column
df.drop("ID", axis=1, inplace=True)

# write file to file system
df.to_parquet("./data/cleaned-credit-card.parquet")

In [8]:
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes
import time

my_path = "./data/cleaned-credit-card.parquet"

v2 = "cleaned" + time.strftime("%Y.%m.%d.%H%M%S", time.gmtime())

my_data = Data(
    name="creadit-card",
    version=v2,
    description="credit card data version 2",
    path=my_path,
    type=AssetTypes.URI_FILE
)

ml_client.data.create_or_update(my_data)
print(f"Data asset created. Name: {my_data.name}, version: {my_data.version}")

Uploading cleaned-credit-card.parquet (< 1 MB): 100%|██████████| 1.58M/1.58M [00:00<00:00, 7.90MB/s]

Data asset created. Name: creadit-card, version: cleaned2024.04.13.162951

# Compare version 1 and version 2 of data asset

In [11]:
import pandas as pd

# get hand of data asset & print URI
data_asset_v1 = ml_client.data.get(name="creadit-card", version=v1)
data_asset_v2 = ml_client.data.get(name="creadit-card", version=v2)

In [12]:
# print v1 data
print(f"V1 data aseet URI: {data_asset_v1.path}")
v1df = pd.read_csv(data_asset_v1.path)
v1df.head()

V1 data aseet URI: azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-rg/workspaces/azureml-ws21/datastores/workspaceblobstore/paths/LocalUpload/4b1dfc4d12429b46389cabdf25b886a2/default_of_credit_card_clients.csv

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [14]:
# print v2 data
print(f"V2 data aseet URI: {data_asset_v2.path}")
v2df = pd.read_parquet(data_asset_v2.path)
v2df.head()

V2 data aseet URI: azureml://subscriptions/3b57d2fe-08b1-4fe9-b535-f5c4387b9a66/resourcegroups/azureml-rg/workspaces/azureml-ws21/datastores/workspaceblobstore/paths/LocalUpload/4890db77bb1f2cdb5b9cf58879889b43/cleaned-credit-card.parquet

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0